/* Общие стили, котор будут применяться для всех медиа-типов */
body {
    margin: 10px;
    background-image: url('1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

div {
    border: solid 1px #fff;
    padding: 10px;
}

.top {
    height: 100px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    text-align: center;
    line-height: 100px;
}

.left {
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.main {
    margin-left: 220px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
}

td {
    background-color: rgba(51, 51, 51, 0.5);
}

/* Медиазапрос для экрана (screen) */
@media screen {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    h1 {
        font-size: 24px;
    }
}

/* Медиазапрос для печати (print) */
@media print {
    body {
        background-color: white;
    }

    h1 {
        font-size: 18px;
    }
}

/* Медиазапрос для устройств сенсорного управления (handheld) */
@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    h1 {
        font-size: 22px;
    }

    .top {
        height: 60px;
        line-height: 60px;
    }

    .left {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .main {
        margin-left: 0;
        margin-top: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    table {
        font-size: 16px;
    }
    
    /* Добавляем свойство overflow для блоков "О теме" и "Как это работает" */
    .left, .main {
        overflow: auto;
    }
}
